<h1>Upload a file</h1>
<%= render :partial => "home/breadcrumbs" %>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Create File</button>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New File</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', upload: @upload %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<p>
<% if @upload.folder %>
   <%= link_to "Back to '#{@upload.folder.name}' Folder", browse_path(@upload.folder) %>
<% else %>
   <%= link_to "Back", root_url %>
<% end %>
</p>
